<html>
<head>
	<title>Travel Website</title>
	<link rel="stylesheet" href="style-alt.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> 
	</head>
	<body>
		<section class="header">
			<div class="container">
				<button type="button" class="login-btn">login</button>
			</div>
			<h1>Travel planner</h1>
			<div>
            <label for="Departure">Departing Date?</label>

            <input type="date" id="Departure" name="trip-Departure"
            value="2020-07-22"
            min="2020-01-01" max="2020-12-31"><br>

             <label for="Returning-Date">Returning Date:</label>

            <input type="date" id="Returning" name="trip-Returning"
            value="2020-07-22"
             min="2020-01-01" max="2020-12-31">
         </div>

			
			<div class="input-group">
                

				<input type="text" class="form-control" placeholder="Search Country or City">
				<button type="submit" class="input-group-text btn">Search </button>
			</div>

		</section>
		<section class="features">
			<h1>Most Recent Entry</h1>
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="feature-box">
							<div class="feature-img">
								<img src="travel.jpg">
							</div>
						</div>
					</div>
					<div class="col-md-4"></div>
					<div class="col-md-4"></div>
				</div>
			</div>


		</section>

	</body>
</html>

